<%- include('./partials/header') %>

    <main class="black-font">
        <h1>DELICIOUS MENU</h1>

        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor
            magna.
        </h3>

        <% selection.forEach(element=> {%>
            <div class="selection-border">
                <h4>
                    <%= element.sort %>
                </h4>
            </div>
            <% }) %>

                <div class="menu-grid">
                    <% for( let i=0; i < 21; i++ ) { %>

                        <div class="menu-content">
                            <div>
                                <h3>
                                    <%= menu[0].food %>
                                </h3>
                                <p>
                                    <%= menu[0].description %>
                                </p>
                            </div>

                            <h3>
                                <%= menu[0].price %>
                            </h3>

                        </div>
                        <% } %>
                </div>
    </main>

    <%- include('./partials/footer') %>